apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    uid: loki-datasource
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000
